<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.salikuzmanim">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/doctor"
        android:label="@string/app_name"
        android:roundIcon="@drawable/doctor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".Activity.meetingActivity.OutgoingInvitationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.meetingActivity.IncomignInvitationActivity"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/doctor" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/barColor" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <activity
            android:name=".ui.main.messageActivityForExpert"
            android:theme="@style/BaseAppTheme2" />
        <activity
            android:name=".Activity.MessageActivity"
            android:theme="@style/BaseAppThemeGray" />
        <activity
            android:name=".gridViewClickManager.ReyclerViewShowExpertForUserActivity"
            android:theme="@style/AppTheme2" />
        <activity android:name=".gridViewClickManager.ReyclerViewShowAddForExpertActivity" />
        <activity android:name=".Activity.ShowAboutExpertActivity" />
        <activity android:name=".Activity.ActivityExpert.profileEditActivityForExpert" />
        <activity android:name=".Activity.ActivityUser.JobAdvertisementUpdateActivity" />
        <activity android:name=".Activity.ActivityUser.profileEditActivityForUser" />
        <activity android:name=".Activity.LoginReceivingServiceActivity" />
        <activity android:name=".Activity.MainActivity2" />
        <activity
            android:name=".Activity.ActivityExpert.FragmentActivityForExpert"
            android:label="@string/title_activity_fragment_for_expert"
            android:theme="@style/AppTheme2" />
        <activity android:name=".Activity.ActivityUser.AdAddActivity" />
        <activity
            android:name=".Activity.ActivityUser.NavigationReceivingServiceActivity"
            android:label="@string/title_activity_navigation_receiving_service"
            android:theme="@style/AppTheme1" />
        <activity android:name=".Activity.ActivityUser.SignUpReceivingServiceActivity" />
        <activity android:name=".Activity.ActivityExpert.SignUpGiveServiceActivity" />
        <activity android:name=".Activity.LoginGiveServiceActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Service.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".Service.AlarmReceiver" />
    </application>

</manifest>