<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saglikuzmanimm.saglikuzmanim">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/doctor"
        android:label="@string/app_name"
        android:roundIcon="@drawable/doctor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".Activity.CommonActivity.SettingActivity"></activity>
        <activity android:name=".Activity.NotificationTabLayout.NotificationTabLayoutActivity" />
        <activity
            android:name=".Activity.meetingActivity.OutgoingInvitationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.meetingActivity.IncomingInvitationActivity"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />
        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/doctor" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/barColor" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <activity
            android:name=".Activity.ActivityExpert.MessageListActivityForExpert"
            android:theme="@style/BaseAppTheme2" />
        <activity
            android:name=".Activity.CommonActivity.MessageActivity"
            android:theme="@style/BaseAppThemeGray" />
        <activity
            android:name=".Activity.ActivityUser.ReyclerViewShowExpertForUserActivity"
            android:theme="@style/AppTheme2" />
        <activity android:name=".Activity.ActivityExpert.profileEditActivityForExpert" />
        <activity android:name=".Activity.ActivityUser.JobAdvertisementUpdateActivity" />
        <activity android:name=".Activity.ActivityUser.ProfileEditActivityForUser" />
        <activity android:name=".Activity.ActivityUser.LoginUserActivity" />
        <activity android:name=".Activity.CommonActivity.MainChoiceActivity" />
        <activity
            android:name=".Activity.ActivityExpert.FragmentActivityForExpert"

          />
        <activity android:name=".Activity.ActivityUser.JobAdvertisementAddActivity" />
        <activity
            android:name=".Activity.ActivityUser.NavigationUserActivity"
            android:label="@string/title_activity_navigation_receiving_service"
            android:theme="@style/AppTheme1" />
        <activity android:name=".Activity.ActivityUser.SignUpUserActivity" />
        <activity android:name=".Activity.ActivityExpert.SignUpExpertActivity" />
        <activity android:name=".Activity.ActivityExpert.LoginExpertActivity" />
        <activity android:name=".Activity.CommonActivity.MainConnectionControlActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Service.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>